header{
	background: $primayBrandColor;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	width: 100%;
	z-index: 10;
	@include respond-to ('small') {
		padding: 15px;
	}
} 

nav {
	width: 40%;
	margin-right: 30px;
	display: flex;
	justify-content: space-between;
	transform: translateY(calc(50% - 10px));
	@include respond-to ('medium') {
		display: 100%;
		justify-content: space-between;
	} @include respond-to ('small') {
		width: 80%;
	}
}

nav a{
	color: white;
	text-decoration: none;
	font-size: 18px;
}
