.homePageSearchForm .showSearch {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.2) 100%), url(../../public/assets/theatre.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px;
	min-height: 92.5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	@include respond-to ('small') {
		padding: 0px 25px;
		min-height: 90vh;
	}
}

.homePageSearchForm .showSearchContainer{
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: $secondBrandColor;
	padding: 35px;
	@include respond-to ('medium') {
		width: 100%;
		padding: 20px;
	} @include respond-to ('searchResultsBreak') {
		width: 80%;
	} @include respond-to ('small') {
		width: 100%;
		padding: 0px;
	}
}

.homePageSearchForm .showSearchContainer p {
	margin: 0;
}

 .homePageSearchForm .showSearch__img {
	width: 37.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	@include respond-to ('large') {
		display: none;
	}
}

.homePageSearchForm .showSearch__form {
	width: 62.5%;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	@include respond-to ('large') {
		width: 100%;
		text-align: center;
	}
}

.homePageSearchForm .showSearch__form .searchInputs {
	margin-bottom: 15px;
}
.homePageSearchForm .showSearch__form label{
	margin-right: 10px;
}

.homePageSearchForm .showSearch__form .inputs {
	width: 80%;
}

.homePageSearchForm .showSearchContainer .pleaseNote {
	margin-top: 15px;
}

.homePageSearchForm .showSearchContainer .paddingBottom {
	@include respond-to ('small') {
		padding-bottom: 20px;
	}
}

