.showSuggestions {
	padding: 25px;
	background: white;
}

.results_display {
	width: 80%;
	margin: 0 auto;
}

.showSuggestions h3 {
	color: $primayBrandColor;
	text-align: center;
}

.showSuggestions ul {
	display: flex;
	justify-content: space-around;
	@include respond-to ('medium') {
		flex-direction: column;
	}
}

.showSuggestions li {
	width: 30%;
	padding: 10px;
	border: 1px solid $primayBrandColor;
	border-radius: 5px;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.12);
	text-align: center;
	@include respond-to ('medium') {
		width: 65%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	@include respond-to ('small') {
		width: 100%;
	}
}

li img {
	align-self: center;
}
