$htmlFontSize: 10px;
$wrapperMaxWidth: 1200px;

$mainHeadingFontSize: 2rem;
$subHeadingFontSize: 2.5rem;
$subSubHeadingFontSize: 2rem;
$paragraphFontSize: 1.5rem;

$primayBrandColor: rgba(145, 10, 10, 1);
$secondBrandColor: 	rgba(250, 235, 215, 1.0);